body{
    font-family: monospace;
    color: rgb(0, 3, 2);
    line-height: 1.2;
    font-size:15.5px;
}

.home{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 50px 1fr;
}

.header .sticky{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height:99vh;
    justify-items: center;
}

.sticky{
    position: sticky;
    top:2px;
}
.header a{
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 15px;
    font-size: 13px;
}

.header h1 a{
    writing-mode:unset;
    transform: none;
    font-family: 'Heebo';
    font-size:25px;
}

.projects{
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap:10px;
    /* justify-content:center; */
    margin-top: 58px;
    margin-bottom: 15px;
}

.project-page{
    display:grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap:13px;
    grid-auto-flow: row dense;
    margin-top: 58px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 2px;
}

.description{
    display:block;
    text-decoration: none;
    color: currentColor;
    margin-top: -2px;
    word-spacing: 0.1px;
    font-size:15.5px;
}

/* .legende{
    display: block;
    margin-top: 0;
    font-size: 11px;
} */


.project img{
    display: block;
    max-width: 100%;
    top: 15px;
}

.img-fx{
    transition: 1s;
    filter: grayscale(1);
    transition: 0.3s;
}

.img-fx:hover{
    opacity:1;
    filter: none;
}


/* MOBILE */

/* TABLETTE*/
@media (min-width:0px){
    .project-large{
        grid-column: span 1;
        grid-row: span 2;
    }
}

/* DESKTOP */
@media (min-width:731px){
    .project-large{
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* MOBILE */


/* TABLETTE*/
@media (min-width:562px){
    .project-extralarge{
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* DESKTOP */
@media (min-width:731px){
    .project-extralarge{
        grid-column: span 3;
        grid-row: span 2;
    }
}



